$spacing-values: (
  0: 0px,
  1: 0.125rem,
  2: 0.25rem,
  3: 0.375rem,
  4: 0.5rem,
  5: 0.625rem,
  6: 0.75rem,
  7: 0.875rem,
  8: 1rem,
  9: 1.25rem,
  10: 1.5rem,
  11: 1.75rem,
  12: 2rem
);

$element-values: (box, revealer, stack, overlay);

@mixin generate-spacing-utilities() {
  @each $key, $value in $spacing-values {
    .space-x-#{$key} > label {
      margin-right: $value;
    }
    .space-x-#{$key} > label:last-child {
      margin-right: 0;
    }
    .space-y-#{$key} > label {
      margin-bottom: $value;
    }
    .space-y-#{$key} > label:last-child {
      margin-bottom: 0;
    }
    @each $element in $element-values {
      .space-x-#{$key} > #{$element} > * {
        margin-right: $value;
      }
      .space-x-#{$key} > #{$element}:last-child > * {
        margin-right: 0;
      }
      .space-x-#{$key} > #{$element} {
        margin-right: $value;
      }
      .space-x-#{$key} > #{$element}:last-child {
        margin-right: 0;
      }
      .space-y-#{$key} > #{$element} > * {
        margin-bottom: $value;
      }
      .space-y-#{$key} > #{$element}:last-child > * {
        margin-bottom: 0;
      }
      .space-y-#{$key} > #{$element} {
        margin-bottom: $value;
      }
      .space-y-#{$key} > #{$element}:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@include generate-spacing-utilities();
