{
  "globals": {
    "App": { "writable": false },
    "Utils": { "writable": false },
    "Widget": { "writable": false },
    "Service": { "writable": false },
    "Variable": { "writable": false },
    "pkg": { "writable": false }, 
    "ARGV": { "writable": false }, 
    "Debugger": { "writable": false }, 
    "GIRepositoryGType": { "writable": false }, 
    "globalThis": { "writable": false }, 
    "imports": { "writable": false }, 
    "Intl": { "writable": false }, 
    "log": { "writable": false }, 
    "logError": { "writable": false }, 
    "print": { "writable": false }, 
    "printerr": { "writable": false }, 
    "window": { "writable": false }, 
    "TextEncoder": { "writable": false }, 
    "TextDecoder": { "writable": false }, 
    "console": { "writable": false }, 
    "setTimeout": { "writable": false }, 
    "setInterval": { "writable": false }, 
    "clearTimeout": { "writable": false }, 
    "clearInterval": { "writable": false },
    "OPTIONS": { "writable": true },
    "TMP": { "writable": true }
  }
}
